<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers" data-namespace-typo3-fluid="true">
{namespace pm=M2S\PoiMap\ViewHelpers}

<f:layout name="Default" />

<f:section name="Main">
  <h2>
    <f:translate key="map.header" />
  </h2>
  <pm:map
    places="{places}"
    as="item"
    style="width:100%; height: 500px;"
    type="{mapType}"
    enableInfo="{showInfo}"
    enableInfoSingle="{showInfoSingle}"
    infoOptions="{infoOptions}"
    mapStyles="{mapStyles}"
    center="{center}" zoom="{zoom}"
  >
    <h4>{item.name}</h4>

    <f:if condition="{item.image}">
      <f:image
        image="{item.image}"
        width="100c"
        height="50c"
        alt="{item.alternateName}"
        title="{item.name}"
      />
    </f:if>

    <f:format.html>{item.description}</f:format.html>

    <f:if condition="{item.url}">
      <f:link.typolink parameter="{item.url}" title="{item.name}" />
    </f:if>
  </pm:map>
</f:section>
